#decorate("layout.vm")


<div class="row">
	<h1>Session example</h1>
	<p>Hula provides support for sessions with the following commands:</p>
	<ul>
		<li>GetSession</li>
		<li>SaveSession</li>
		<li>DeleteSession</li>
	</ul>

</div>
<hr/>
<div class="row">

	<h2>A simple example of saving a name in the session.</h2>

	<p>
		The name in the session is: $name
	<p>
	<p>
		<a href="/hula/clearname">Clear Name</a>
	</p>
	
	
	<p> 
		Set a new name in the session:
		<form action="setname" action="post">
			Name: <input name="name" type="text"/>
			<input type="submit" value="Save"/>
		</form>
	</p>
</div>
#end