

    <ul class="nav">
      <li><a href="/hula/basics">Basics</a></li>
      <li><a href="/hula/pageflow">Page Flow</a></li>
      <li><a href="/hula/nonsecure">Channel-Switching</a></li>
      <li><a href="/hula/getname">Sessions</a></li>
    </ul>