

    <ul class="nav">
      <li><a href="/hula/basics">The Basics</a></li>
      <li><a href="/hula/responses">Responses</a></li>
      <li><a href="/hula/nonsecure">Channel-Switching</a></li>
      <li><a href="/hula/getname">Sessions</a></li>
    </ul>