#decorate("layout.vm")


	<div class="row">
		<h1>Page Flow</h1>
		<p>
			
		</p>
	</div>

	<hr/>
	<div class="row">
		<h2>Choosing alternative pages</h2>
		<p>
			For request  <code>/freebeer?age=17</code>, the script decides which page to render depending on the age parameter.
		<p>
		<div class="span6">
			<h4>scripts/freebeer.txt</h4>			
			<pre class="prettyprint lang-sql">
If $age < 18
   SetView tooyoung
Else
   SetView whynot
End</pre>
		</div>
	
		<div class="span6">

			<h4>pages/tooyoung.vm</h4>
			<pre class="prettyprint">
&lt;html&gt;
   &lt;body&gt;
      Free Beer? Sorry, I'm afraid you're too young.
   &lt;/body&gt;
&lt;/html&gt;</pre>

		
			<h4>pages/whynot.vm</h4>
			<pre class="prettyprint">
&lt;html&gt;
   &lt;body&gt;
      Free Beer? Why not!
   &lt;/body&gt;
&lt;/html&gt;</pre>
		</div>	
				
	</div>
	<hr/>
	<div class="row">
		<h2>Handling Redirects</h2>
		<p>
			To prevent duplicate form submissions it is good practice to redirect after making an update. This example demonstrates
			the use of the <code>Redirect</code> command following an update to the session.
				<ul>
					<li>The <code>getname.txt</code> script looks up the name on the session. No name is found. The
					script sets <code>getname.vm</code> as the view. </li>
					<li>The <code>getname.vm</code> page provides a form for saving a name in the session. The form
					submits the name to the <code>setname.txt</code> script. </li>
					<li>The <code>setname.txt</code> script saves the name in the session and redirects to the 
					<code>getname.txt</code> script. The name saved in the session is persisted across the redirect. </li>
				</ul>
		<p>
		<div class="span6">
		
			<h4>scripts/getname.txt</h4>			
			<pre class="prettyprint lang-sql">
GetSession as session
Set name=$session.name
SetView getname</pre>
		
			<h4>scripts/setname.txt</h4>			
			<pre class="prettyprint lang-sql">
GetSession as session
Set $session.name=$name
SaveSession
Redirect getname</pre>
		</div>
	
		<div class="span6">

			<h4>pages/getname.vm</h4>
			<pre class="prettyprint">
The name in the session is: $name
&lt;br&gt;
Set a new name in the session:
&lt;form action=&quot;setname&quot; action=&quot;post&quot;&gt;
   Name: &lt;input name=&quot;name&quot; type=&quot;text&quot;/&gt;
   &lt;input type=&quot;submit&quot; value=&quot;Save&quot;/&gt;
&lt;/form&gt;</pre>

		
		</div>	
				
	</div>

#end