
#decorate("layout.vm")


      <div class="hero-unit">
        <h1>Hula Web</h1>
        <p>
        	Hula-web is a web application framework for Java based on the 
			<a href="https://github.com/simoncurd/hula-lang" target="_blank">Hula Scripting Language</a>. 
			It was designed to simplify and accelerate  development of web applications.	
       	</p>
      </div>
      
	<a href="getname">Session Example</a>
	
	
	

#end