
#decorate("layout.vm")


      <div class="hero-unit">
        <h1>Hula Web</h1>
        <p>	
        	A Java web application framework based on the 
			<a href="https://github.com/simoncurd/hula-lang" target="_blank">Hula Scripting Language</a>. 
			Simplify and accelerate development of web applications.
       	</p>
       	<p>
       		<a class="btn btn-primary" href="https://github.com/simoncurd/hula-web/archive/gh-pages.zip">Download Hula Web</a> 
       		| <a href="javadoc/index.html">JavaDocs</a>
       		| <a href="https://github.com/simoncurd/hula-web">GitHub</a>
       	</p>
      </div>	
      <div class="row">
      	<div class="span12">
      	<p>
      		Author: <a href="https://github.com/simoncurd">Simon Curd</a>
      		| Licence: Apache 2.0 
      		
      	</p>
      	</div>
      </div>

#end