

    <ul class="nav">
      <li><a href="basics.html">The Basics</a></li>
      <li><a href="routing.html">Routing</a></li>
      <li><a href="responses.html">Responses</a></li>
      <li><a href="channels.html">Channel-Switching</a></li>
      <li><a href="sessions.html">Sessions</a></li>
    </ul>